{% extends "article/header.html" %}
{% block title %}
          {% load crispy_forms_tags %}
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-8">
                <h1 class="mt-2">Create your new campaign</h1>
                <hr class="mt-0 mb-4">

                <form method="post" enctype='multipart/form-data'>
                  {% if form %}
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input type="submit" value="save" >
                  {%endif%}
                  {% if forms %}
                  <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                   
                    {{forms|crispy}}
              
                    <input type ="submit" value="save">
                 {%endif%}
  {% endblock %}