
{% extends "article/header.html" %}
{% load widget_tweaks %}
{% block title %}
       
               <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12" >
                        <div id="user">
                            <a href="#"><img src="static/images/liat.png" alt=""></a>
                            
                            <h4><a href="{% url 'profile' %}"><b>{{request.user}}</b></a></h4>
                            <h5>Customer and Content Manager</h5>
                            <h5>McCann</h5>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12" >
                        <div class="creationCamp">
                          <h4 class="title_button"><b>Creation process campaigns</b></h4>
                          <a href="/page2.html"> <span class="glyphicon glyphicon-option-horizontal" ></span></a>
                        <div style="overflow-x:auto;">
                            <table class="table">
                                <thead class="thead-light">
                                  <tr>
                                    <th scope="col">Company name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Region</th>
                                    <th scope="col">Progress</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row"><img src="static/images/subway2.png" alt=""></th>
                                    <td>Food</td>
                                    <td>2 weeks</td>
                                    <td>Tel Aviv</td>
                                    <td>29%</td>
                                </tr>
                                  <tr>
                                    <th scope="row"><img src="static/images/CK.png" alt=""></th>
                                    <td>Fashion</td>
                                    <td>3 weeks</td>
                                    <td>Tel Aviv</td>
                                    <td>89%</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div> 
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 ">
                        <article class="messages">
                          <h4 class="title_button"><b>Messages</b></h4>
                          <a href="#"> <span class="glyphicon glyphicon-option-horizontal" ></span></a>

                            <nav>
                                <img src="static/images/bell.png" alt="">
                                <p>"Taste the feeling" campaign for Coca Cola was approved and started broadcasting.</p>
                            </nav>
                            <nav>
                                <img src="static/images/mail.png" alt="">
                                <p>Mail from Roger Jackson in inbox.</p>
                            </nav>
                        </article>
                    </div>
                  </div>
              </div> 
              <br>
              <form method="get">
                <div class="well">
                  <h4 style="margin-top: 0">Filter</h4>
                  <div class="row">
                    <div class="form-group col-sm-4 col-md-3">
                      {{ filter.form.as_p }}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                  </button>
                </div>
              </form>
            
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>name</th>
                    <th>status</th>
                    <th>creat by</th>
                  </tr>
                </thead>
                <tbody>
                  {% for camp in filter.qs %}
                    <tr>
                      <td> <img src="{{camp.picture.url}}" st></td>
                      <td>{{ camp.name }}</td>
                      <td>{{ camp.status }}</td>
                      <td>{{ camp.user }}</td>
          
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="5">No data</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <article class="stats">
                        <h4><b>Recent stats</b></h4>
                        <img src="static/images/comingSoon.png" alt="">
                    </article></div>
                  </div>
              </div> 
         
 {% endblock %}
              