
{% extends "article/header.html" %}
{% block home %}
<a href="{% url 'home' %}">
  <span class="glyphicon glyphicon-home" style="color: gray;"></span>
</a>
{% endblock %}
{% block btn %}
{% if user.is_superuser %}  
<li><a href="{% url 'form' %}"><span class="glyphicon glyphicon-plus" ></span></a></li>
{%endif%}  
<li><a href="{% url 'list' %}"> <span class="glyphicon glyphicon-th-list"></span></a></li>
  
  {% endblock %}

{% block title %}
       
               <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12" >
                        <div id="user">
                            <a href="{% url 'profile' %}"><img src="{{myprofile.picture.url}}" alt=""></a>
                            
                            <h4><a href="{% url 'profile' %}"><b>{{request.user.first_name}} {{request.user.last_name}}</b></a></h4>
                            <h5>{{myprofile.role}}</h5>
                            <h5>{{myprofile.company}}</h5>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12" >
                        <div class="creationCamp">
                            <div class="row" id="mine">
                               
                                  <div class="runnigCamp">
                                       <h4 class="title_button"><b>My campaigns</b></h4>
                                        <a href=" {% url 'list' %}"> <span class="glyphicon glyphicon-option-horizontal" ></span></a>
                                        <ul >
                                           {% for camp in campaign_list %} 
                                           {%if camp.user == request.user%}
                                           <li>
                                             <img src="{{camp.picture.url}}">
                                              <h5>{{camp.name}}</h5>   
                                            </li>
                                            <li>
                                              {% endif %}
                                              {% endfor %}
                                      </ul>
                                      </div>
                              
                            </div>
                    </div>
                  </div> 
                    <div class="col-lg-3 col-md-12 col-sm-12 ">
                        <article class="messages">
                          <h4 class="title_button"><b>Messages</b></h4>
                          <a href=" {% url 'messages' %}"> <span class="glyphicon glyphicon-option-horizontal" ></span></a>

                            <nav>
                                <img src="static/images/bell.png" alt="">
                                <p>"Taste the feeling" campaign for Coca Cola was approved and started broadcasting.</p>
                            </nav>
                            <nav>
                                <img src="static/images/mail.png" alt="">
                                <p>Mail from Roger Jackson in inbox.</p>
                            </nav>
                        </article>
                    </div>
                  </div>
              
            </div>
              <br>
              <form method="get" action="">
                <div class="well">
                  <h4 style="margin-top: 0">Filter</h4>
                  <div class="row">
                    <div class="form-group col-sm-4 col-md-12 ol-lg-12" id="filter">
                      {{ filter.form }}
                    </div>
                  </div>
                    <button type="submit" class="btn btn-primary">
                     Search
                  </button>
                </div>
              </form>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>name</th>
                    <th>status</th>
                    <th>creat by</th>
                  </tr>
                </thead>
                <tbody>
                  {% for camp in filter.qs %}
                    <tr>
                      <td> <img src="{{camp.picture.url}}" st></td>
                      <td>{{ camp.name }}</td>
                      <td>{{ camp.status }}</td>
                      <td>{{ camp.user }}</td>
          
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="5">No data</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
                    
                  </div>
              </div> 
         
 {% endblock %}
              