
{% extends "article/header.html" %}
{% block home %}
<a href="{% url 'home' %}">
  <span class="glyphicon glyphicon-home"></span>
</a>
{% endblock %}
{% block btn %}
{% if user.is_superuser %}  
<li><a href="{% url 'form' %}"><span class="glyphicon glyphicon-plus"></span></a></li>
{%endif%}  
<li><a href="{% url 'list' %}"> <span class="glyphicon glyphicon-th-list" style="color: gray;"></span></a></li>
  
  {% endblock %}
{% block title %}
       

                <div class="up"> 
                  <img src="{{object.picture.url}}">
                </div>            
                
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse1">General setting</a>
                        </h4>
                      </div>
                      <div id="collapse1" class="panel-collapse collapse">
                        <h5>{{object.name}}</h5>
                        <p>{{object.status}}</p>
                        <p>{{object.duration}}</p>
                        <p>{{object.category}}</p>
                        <p>{{object.location}}</p>
                        <p>{{object.around}}</p>
                        <div class="editAndDelete"> 
                          <div class="center"> 
                            {%if object.user == request.user%}
                            <a href="/update/{{object.id}}"> <img src="/static/images/edit.jpg" alt=""></a>
                            {%endif%}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {%for file in files%}
                  {% if file.campName == object.name%}
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse2">file setting</a>
                        </h4>
                      </div>
                      <div id="collapse2" class="panel-collapse collapse">
                        <h5>{{file.name}}</h5>
                        <p>{{file.RoadType}}</p>
                        <p>{{file.percent}}</p>
                        <img src="{{file.picture.url}}">
                        <div class="editAndDelete"> 
                          <div class="center"> 
                            {%if object.user == user%}
                            <a href="/updateFile/{{file.id}}"> <img src="/static/images/edit.jpg" alt=""></a>
                            {%endif%}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endif%}
                  {%endfor%}
                  {% endblock %}
                  