{% extends "article/header.html" %}
{% block home %}
<a href="{% url 'home' %}">
  <span class="glyphicon glyphicon-home"></span>
</a>
{% endblock %}
{% block btn %}
{% if user.is_superuser %}  
<li><a href="{% url 'form' %}"><span class="glyphicon glyphicon-plus"></span></a></li>
{%endif%}  
<li><a href="{% url 'list' %}"> <span class="glyphicon glyphicon-th-list" style="color: gray;"></span></a></li>
  
  {% endblock %}

  {% block title %}
        <h3><b>My campaigns</b></h3>
        <div class="container">
            <div class="row">
                <div class="title"><h4><b>Waiting for approval</b></h4></div>
                <ul>
                    {% for camp in camps %} 
                    {%if camp.status == 'wait' %}
                    <li>
                        <a href="/item/{{camp.id}}"> <img src="{{camp.picture.url}}" alt=""></a>
                       <h5>{{camp.name}}</h5>
                             
                     </li>
                     <li>

                <li>
                   {%endif%}
                   {%endfor%}     
                   </ul>
                  
            </div>
        
  
            <div class="row">
               <div class="title"><h4><b>Creation process campaigns</b></h4>
               </div> 
               <ul>
                {% for camp in camps %} 
                {%if camp.status == 'process' %}
                <li>
                    <a href="/item/{{camp.id}}"> <img src="{{camp.picture.url}}" alt=""></a>
                   
                           <h5>{{camp.name}}</h5>
                         
                 </li>
                 <li>

            <li>
               {%endif%}
               {%endfor%}     
               </ul>
            </div>
            <div class="row">
                <div class="title"><h4><b>My running campaigns</b></h4>
                    </div>
                    <ul>
                        {% for camp in camps %} 
                        {%if camp.status == 'running' %}
                        <li>
                            <a href="/item/{{camp.id}}"> <img src="{{camp.picture.url}}" alt=""></a>
                           <h5>{{camp.name}}</h5>
                                 
                         </li>
                         <li>

                    <li>
                       {%endif%}
                       {%endfor%}     
                       </ul>
                     
            </div>
        
        <div class="row">
            <div class="title"><h4><b>History</b></h4></div>
            <ul>
                {% for camp in camps %} 
                {%if camp.status == 'done' %}
                <li>
                    <a href="/item/{{camp.id}}"> <img src="{{camp.picture.url}}" alt=""></a>
                   <h5>{{camp.name}}</h5>
                         
                 </li>
                 <li>

            <li>
               {%endif%}
               {%endfor%}     
               </ul>
              
        </div>
    </div>


{% endblock %}